{% extends 'base.html' %}

{% block content %}
    <div class="article-entry">
        <h2>{{ object.title }}</h2>
        <video width="1100" height="400" controls>
            <source src="{{ object.video.url }}">
        </video>
        <p>{{ object.author }} | {{ object.data }}</p>
        <p>{{ object.body }}</p>
    </div>
    <p>
        <a href="{% url 'article_edit' article.pk %}"
           class="btn btn-primary">Editing</a>
        <a href="{% url 'article_delete' article.pk %}" class="btn btn-danger">Delete</a>
    <p><a href="{% url 'article_list' %}"> All articles</a>to see</p>
    </p>

    <div class="row">
        <h2>Video</h2>
        {% for article_video in object.videos.all %}
            <video width="1100" height="400" controls>
                <source src="{{ article_video.video.url }}">
            </video>
        {% endfor %}
    </div>
{% endblock content %}

